<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4TO Editor</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        }
      a{
        text-decoration: none;
        color: #fff;
      }
    body{
      background: #1d2023;
      color: #fff; 
    }
     .navbar{
      color: black;
     }
      .navbarHeader{
        cursor: pointer;
        margin: 65px 0 0 40px;
        padding: 0;
      }
      .navbarList{
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .navbarList > li {
        display: inline-block;
        padding: 0;
        margin: 0 50px 0 0;
        text-transform: uppercase;
      }
      .header{
        text-align: center;
        margin: 100px 20px;
        padding: 0;
        width: 95%;
      }
      .header_title{
        padding: 0;
        margin: 0 auto 20px auto;
        font-size: 2rem;
      }
      .header_Desc{
        width: 50%;
        margin: 0 auto 40px auto;
      }
      .btn{
        border: 1px solid #fff;
        margin: 0 15px;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbarHeader">
        <ul class="navbarList">
          <li><a href="#">Edit Photo </a></li>
          <li><a href="#">AI Tools </a></li>
          <li><a href="#">Templates </a></li>
          <li><a href="#">Support </a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In </a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
