<%- include("./includes/header.ejs") %>
<main>
  <section>
    <div class="header">
      <h4 class="header_title">Check our sample pictures for better understanding of the website</h4>
     <div class="process">
        <div class="">
            <div class="">
                <img src="../views/img/bird.jpg" alt="">
                <p>picture name</p>

            </div>
        </div>
     </div>

    </div>
  </section>
</main>
<%- include("./includes/footer.ejs") %>
