<%- include("./includes/header.ejs") %>
<main>
  <section>
    <div class="header">
      <h4 class="header_title">Free photo editor for everyone</h4>
      <p class="header_Desc">
        4TO photo editor lets you edit photos in just a few clicks. It covers
        various free online photo editing tools, so you can crop images, resize
        images, add text to photos, make photo collages, and create graphic
        designs easily.
      </p>
      <div class="header_link">
        <a href="/api/images" class="btn">See Sample</a>
        <a href="" class="btn">Edit Photo</a>
      </div>
    </div>
  </section>
</main>
<%- include("./includes/footer.ejs") %>
